html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* --------------- SASS DECLARATIONS --------------- */
/* --------------- FULL SITE --------------- */
body {
  background-color: #F5F5F1; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.globalContainer {
  font-family: 'Roboto', sans-serif; }

* {
  border-sizing: border-box; }

/* --------------- FULL HEADER --------------- */
header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0.1px 2px #555555;
  padding: 15px;
  font-size: .9em;
  /* --------------- START LEFT HEADER --------------- */
  /* --------------- START RIGHT HEADER --------------- */ }
  header .headerContent {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    header .headerContent::after {
      clear: both;
      content: "";
      display: table; }
  header .leftHeader {
    float: left; }
    header .leftHeader .logo {
      display: inline-block;
      color: #F2581D;
      font-size: 45px;
      font-family: 'Gentium Book Basic', serif;
      margin-right: 10px; }
    header .leftHeader .search {
      display: inline-block; }
    header .leftHeader .searchBar {
      display: inline-block;
      float: right;
      margin: auto;
      padding: 12px; }
      header .leftHeader .searchBar input {
        float: left;
        padding: 8px;
        margin: 0;
        height: 100%;
        border: 1px solid #CFCBC8;
        box-shadow: inset 0 0 1px #CFCBC8;
        border-radius: 4px 0px 0px 4px; }
      header .leftHeader .searchBar #searchBtn {
        background-color: #34A8C4;
        border: 1px solid #34A8C4;
        border-radius: 4px;
        color: #34A8C4;
        padding: 8px;
        color: white;
        border-radius: 0px 4px 4px 0px;
        padding-left: 20px;
        padding-right: 20px; }
      header .leftHeader .searchBar #searchBtn:hover {
        background-color: #3CA8C2; }
      header .leftHeader .searchBar #browseBtn {
        border: 1px solid #34A8C4;
        border-radius: 4px;
        color: #34A8C4;
        padding: 8px;
        background-color: white;
        color: #555555;
        border: #555555;
        float: right;
        margin-left: 20px;
        padding: 10px; }
  header .rightHeader {
    float: right;
    color: #34A8C4;
    display: inline-block; }
    header .rightHeader a {
      color: #34A8C4; }
    header .rightHeader .register {
      display: inline-block;
      float: left;
      height: 100%;
      margin-top: 15px;
      padding: 24px 10px 0px 0px;
      margin-top: 0; }
    header .rightHeader .signIn {
      display: inline-block;
      float: left;
      height: 100%;
      margin-top: 15px;
      border: 1px solid #34A8C4;
      border-radius: 4px;
      color: #34A8C4;
      padding: 8px;
      margin-right: 15px; }
    header .rightHeader .cart {
      display: inline-block;
      float: left;
      height: 100%;
      margin-top: 15px;
      color: #555555;
      padding-left: 15px;
      margin-top: 24px;
      border-left: 1px solid #E5E5E5; }

/* --------------- START MAIN --------------- */
.main {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin: 40px auto;
  font-size: .8em; }
  .main::after {
    clear: both;
    content: "";
    display: table; }
  .main aside {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .main aside:last-child {
      margin-right: 0; }
  .main .items {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    height: 100%; }
    .main .items:last-child {
      margin-right: 0; }

li {
  height: 220px;
  background-color: white;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
  list-style: none;
  border-radius: 4px;
  border: 1px solid #E1E3DF; }
  li:last-child {
    margin-right: 0; }
  li:nth-child(3n) {
    margin-right: 0; }
  li:nth-child(3n+1) {
    clear: left; }

.itemBox .itemTitle {
  color: #555555;
  padding-bottom: 8px; }

.itemBox .itemMaker {
  color: #E5E5E5;
  float: left; }

.itemBox .itemPrice {
  color: #7ABE4A;
  float: right; }

.itemBox .itemImage {
  height: 150px;
  overflow: hidden; }

.itemBox .itemInfo {
  height: 50px;
  padding: 7px; }

.mainHead {
  font-size: .9em;
  margin-bottom: 15px;
  overflow: hidden;
  color: #555555; }

.showResults {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  font-weight: bold; }
  .showResults:last-child {
    margin-right: 0; }

.mainInfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .mainInfo:last-child {
    margin-right: 0; }
  .mainInfo .resultsInfo {
    float: left; }
    .mainInfo .resultsInfo a {
      color: #34A8C4; }
  .mainInfo #searchTerm {
    font-weight: bold; }
  .mainInfo .sortBy {
    float: right; }
    .mainInfo .sortBy span {
      color: #34A8C4; }

/* --------------- START SIDEBAR --------------- */
.categories {
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #E1E3DF; }
  .categories p {
    color: #555555; }
  .categories .indent {
    margin-left: 10px;
    color: #34A8C4; }

.refineSearchHead {
  font-weight: bold;
  color: #555555;
  margin-top: 20px;
  margin-bottom: 10px; }

.refineSearch {
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #E1E3DF; }
  .refineSearch a {
    width: 100%;
    color: #34A8C4; }
  .refineSearch .refineBox {
    border-bottom: 1px solid #E5E5E5;
    padding: 5px; }
    .refineSearch .refineBox span {
      font-weight: bold;
      color: #555555; }
    .refineSearch .refineBox .red {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #F40B32; }
    .refineSearch .refineBox .orange {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #FF7F00; }
    .refineSearch .refineBox .yellow {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #F3CC0C; }
    .refineSearch .refineBox .green {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #0AC20A; }
    .refineSearch .refineBox .blue {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #0CCCF3; }
    .refineSearch .refineBox .purple {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #A60CF3; }
    .refineSearch .refineBox .black {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: #000000; }
    .refineSearch .refineBox .white {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #E1E3DF;
      background-color: white; }
