html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* --------------- SASS DECLARATIONS --------------- */
/* --------------- FULL SITE --------------- */
body {
  background-color: #F5F5F1; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  text-decoration-color: #34A8C4; }

.globalContainer {
  font-family: 'Roboto', sans-serif; }

* {
  border-sizing: border-box; }

button:focus {
  outline: 0; }

input:focus {
  outline: 0; }

select:focus {
  outline: 0; }

/* --------------- FULL HEADER --------------- */
header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0.1px 2px #555555;
  padding: 10px;
  font-size: .9em;
  /* --------------- START LEFT HEADER --------------- */
  /* --------------- START RIGHT HEADER --------------- */ }

header .headerContent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

header .headerContent::after {
  clear: both;
  content: "";
  display: table; }

header .leftHeader {
  float: left; }

header .leftHeader .logo {
  display: inline-block;
  color: #F2581D;
  font-size: 45px;
  font-family: 'Gentium Book Basic', serif;
  margin-right: 10px; }

header .leftHeader .search {
  display: inline-block; }

header .leftHeader .searchBar {
  display: inline-block;
  float: right;
  margin: auto;
  padding: 12px; }

header .leftHeader .searchBar input {
  float: left;
  padding: 8px;
  margin: 0;
  height: 100%;
  border: 1px solid #CFCBC8;
  box-shadow: inset 0 0 1px #CFCBC8;
  border-radius: 4px 0px 0px 4px; }

header .leftHeader .searchBar .searchInput:hover {
  border: 1px solid #B2B2B2; }

header .leftHeader .searchBar .searchBtn {
  background-color: #34A8C4;
  border: 1px solid #34A8C4;
  border-radius: 4px;
  color: #34A8C4;
  padding: 8px;
  color: white;
  border-radius: 0px 4px 4px 0px;
  padding-left: 20px;
  padding-right: 20px; }

header .leftHeader .searchBar .browseBtn {
  border: 1px solid #34A8C4;
  border-radius: 4px;
  color: #34A8C4;
  padding: 8px;
  background-color: white;
  color: #555555;
  border: 1px solid #E5E5E5;
  float: right;
  margin-left: 20px;
  padding: 8px; }

header .leftHeader .searchBar .browseBtn:hover {
  border: 1px solid #B2B2B2; }

header .rightHeader {
  float: right;
  color: #34A8C4;
  display: inline-block; }

header .rightHeader a {
  color: #34A8C4; }

header .rightHeader .register {
  display: inline-block;
  float: left;
  height: 100%;
  margin-top: 15px;
  padding: 24px 10px 0px 0px;
  margin-top: 0; }

header .rightHeader .signIn {
  display: inline-block;
  float: left;
  height: 100%;
  margin-top: 15px;
  border: 1px solid #34A8C4;
  border-radius: 4px;
  color: #34A8C4;
  padding: 8px;
  margin-right: 15px; }

header .rightHeader .signIn a:hover {
  text-decoration: none; }

header .rightHeader .signIn:hover {
  background-color: #F0FBFD; }

header .rightHeader .cart {
  display: inline-block;
  float: left;
  height: 100%;
  margin-top: 15px;
  color: #7E7D7D;
  padding-left: 15px;
  margin-top: 13px;
  border-left: 1px solid #B2B2B2;
  font-size: .8em; }

header .rightHeader .cart:hover {
  color: #555555; }

header .rightHeader .cart img {
  height: 22px;
  display: block;
  margin-bottom: 3px; }

/* --------------- START MAIN --------------- */
.main {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin: 40px auto;
  font-size: .8em; }

.main::after {
  clear: both;
  content: "";
  display: table; }

.main aside {
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

.main aside:last-child {
  margin-right: 0; }

.main .items {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: 100%; }

.main .items:last-child {
  margin-right: 0; }

ul {
  margin: 0;
  padding: 0; }

.itemBox {
  height: 220px;
  background-color: white;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
  list-style: none;
  border-radius: 4px;
  border: 1px solid #E5E5E5; }

.itemBox:last-child {
  margin-right: 0; }

.itemBox:nth-child(3n) {
  margin-right: 0; }

.itemBox:nth-child(3n+1) {
  clear: left; }

.itemBox img {
  height: 180px; }

.itemBox {
  margin-bottom: 25px; }

.itemBox .itemTitle {
  color: #555555;
  padding-bottom: 8px; }

.itemBox .itemMaker {
  float: left;
  display: inline-block; }

.itemBox .itemMaker a {
  color: #B2B2B2; }

.itemBox .itemPrice {
  color: #7ABE4A;
  float: right; }

.itemBox .itemImage {
  height: 170px;
  overflow: hidden;
  position: relative; }

.itemBox .itemImage::before {
  content: '';
  background-image: url(../images/heart.png);
  background-size: cover;
  background-color: white;
  border: 0.8px solid #B2B2B2;
  border-radius: 4px;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 4px;
  right: 35px;
  visibility: hidden; }

.itemBox .itemImage::after {
  content: '';
  background-image: url(../images/hamburger.png);
  background-size: cover;
  background-color: white;
  border: 0.8px solid #B2B2B2;
  border-radius: 4px;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 4px;
  right: 4px;
  visibility: hidden; }

.itemBox .itemImage:hover:before {
  visibility: visible; }

.itemBox .itemImage:hover:after {
  visibility: visible; }

.itemBox .itemImage .icons {
  float: right;
  margin: 5px; }

.itemBox .itemImage .icons button {
  background-color: white;
  border: 1px solid #E5E5E5;
  height: 30px;
  padding: 5px; }

.itemBox .itemImage .icons img {
  height: 20px; }

.itemBox .outerShare {
  position: absolute;
  top: 5px;
  right: 5px; }

.itemBox .outerShare button {
  background-color: white;
  border: 1px solid #34A8C4;
  border-radius: 4px;
  color: #34A8C4;
  padding: 8px;
  height: 25px;
  width: 30px; }

.itemBox .itemInfo {
  height: 50px;
  padding: 7px; }

.itemBox .itemTitle {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.mainHead {
  font-size: 1em;
  margin-bottom: 15px;
  overflow: hidden;
  color: #555555; }

.showResults {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  font-weight: bold; }

.showResults:last-child {
  margin-right: 0; }

.mainInfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.mainInfo:last-child {
  margin-right: 0; }

.mainInfo .resultsInfo {
  float: left; }

.mainInfo .resultsInfo a {
  color: #34A8C4; }

.mainInfo #searchTerm {
  font-weight: bold; }

.mainInfo .sortBy {
  float: right; }

.mainInfo .sortBy span {
  color: #34A8C4; }

/* --------------- START SIDEBAR --------------- */
.categories {
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #E5E5E5; }

.categories .allCat {
  color: #555555;
  font-weight: bold; }

.categories .indent {
  margin-left: 10px;
  color: #34A8C4;
  list-style: none; }

.refineSearchHead {
  font-weight: bold;
  padding-bottom: 8px;
  color: #555555;
  margin-top: 20px;
  margin-bottom: 10px; }

.refineSearch {
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #E5E5E5; }

.refineSearch .typeOptions label {
  position: relative;
  margin-left: 0; }

.refineSearch .typeOptions input {
  position: absolute;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle; }

.refineSearch .typeOptions a {
  margin-left: 32px;
  margin-top: 8px; }

.refineSearch .shopLocationRadio label {
  position: relative;
  margin-left: 0; }

.refineSearch .shopLocationRadio input {
  position: absolute;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle; }

.refineSearch .shopLocationRadio a {
  margin-left: 32px;
  margin-top: 8px; }

.refineSearch a {
  color: #34A8C4; }

.refineSearch .refineBox {
  border-bottom: 1px solid #E5E5E5;
  padding: 15px 1px; }

.refineSearch .refineBox input {
  height: 30px;
  width: 60px;
  margin-right: 8px; }

.refineSearch .refineBox .arrowBox {
  height: 30px;
  width: 30px;
  border: 1px solid #E5E5E5;
  display: inline-block;
  float: right; }

.refineSearch .refineBox .arrowBox .arrow-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #555555;
  margin-left: 11px;
  margin-top: 7px; }

.refineSearch .refineBox .arrowBox .arrow-right:hover {
  background-color: #F5F5F1; }

.refineSearch .refineBox span {
  font-weight: bold;
  padding-bottom: 8px;
  color: #555555;
  display: block; }

.refineSearch .refineBox .red {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #F40B32; }

.refineSearch .refineBox .orange {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #FF7F00; }

.refineSearch .refineBox .yellow {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #F3CC0C; }

.refineSearch .refineBox .green {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #0AC20A; }

.refineSearch .refineBox .blue {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #0CCCF3; }

.refineSearch .refineBox .purple {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #A60CF3; }

.refineSearch .refineBox .black {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: #000000; }

.refineSearch .refineBox .white {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background-color: white; }

.refineSearch select {
  width: 100%;
  height: 40px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: 1px solid #E5E5E5;
  background-color: white;
  border-radius: 4px; }

.refineSearch select:hover {
  border: 1px solid #B2B2B2; }

.priceInputs input:hover {
  border: 1px solid #B2B2B2; }

.arrowBox:hover {
  border: 1px solid #B2B2B2; }
