@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* --------------- SASS DECLARATIONS --------------- */

$teal: #34A8C4;
$orange: #F2581D;
$lightteal: #3CA8C2;
$green: #7ABE4A;
$gray: #E5E5E5;
$darkgray: #555555;
$bordergray: #E1E3DF;

@mixin btnBorder() {
  border: 1px solid $teal;
  border-radius: 4px;
  color: $teal;
  padding: 8px;
}

@mixin boxBorder() {
  border: 1px solid $bordergray;
}

@mixin rightHeaderItems() {
  display: inline-block;
  float: left;
  height: 100%;
  margin-top: 15px;
}

@mixin itemBoxStyle() {
  .itemTitle {
    color: $darkgray;
    padding-bottom: 8px;
  }

  .itemMaker {
    color: $gray;
    float: left;
  }

  .itemPrice {
    color: $green;
    float: right;
  }

  .itemImage {
    height: 150px;
    // background-image: url('/images/coffee.png');
    overflow: hidden;
  }
}

@mixin colorFilter() {
  display: inline-block;
  height: 20px;
  width: 20px;
  @include boxBorder;
}

@mixin refineHeaders {
  font-weight: bold;
  color: $darkgray;
}

/* --------------- FULL SITE --------------- */


body {
  background-color: #F5F5F1;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.globalContainer {
  font-family: 'Roboto', sans-serif;
}

* {
  border-sizing: border-box;
}


/* --------------- FULL HEADER --------------- */


header {
  width: 100%;
  background-color: white;
  box-shadow: 0px .1px 2px $darkgray;
  padding: 15px;
  font-size: .9em;

  .headerContent {
    @include outer-container
  }


  /* --------------- START LEFT HEADER --------------- */


  .leftHeader {
    float: left;

    .logo {
      display: inline-block;
      color: $orange;
      font-size: 45px;
      font-family: 'Gentium Book Basic', serif;
      margin-right: 10px;
    }

    .search{
      display: inline-block;
    }

    .searchBar {
      display: inline-block;
      float: right;
      margin: auto;
      padding: 12px;

      input {
        float: left;
        padding: 8px;
        margin: 0;
        height: 100%;
        border: 1px solid #CFCBC8;
        box-shadow: inset 0 0 1px #CFCBC8;
        border-radius: 4px 0px 0px 4px;
      }

      #searchBtn {
        background-color: $teal;
        @include btnBorder;
        color: white;
        border-radius: 0px 4px 4px 0px;
        padding-left: 20px;
        padding-right: 20px;
      }

      #searchBtn:hover {
        background-color: $lightteal;
      }

      #browseBtn {
        @include btnBorder;
        background-color: white;
        color: $darkgray;
        border: $darkgray;
        float: right;
        margin-left: 20px;
        padding: 10px;
      }

    }
  }


/* --------------- START RIGHT HEADER --------------- */


  .rightHeader {
    float: right;
    color: $teal;
    display: inline-block;

    a {
      color: $teal;
    }

    .register {
      @include rightHeaderItems;
      padding: 24px 10px 0px 0px;
      margin-top: 0;
    }

    .signIn {
      @include rightHeaderItems;
      @include btnBorder;
      margin-right: 15px;
    }

    .cart {
      @include rightHeaderItems;
      color: $darkgray;
      padding-left: 15px;
      margin-top: 24px;
      border-left: 1px solid $gray;
    }

}

}


/* --------------- START MAIN --------------- */


.main {
  @include outer-container(980px);
  clear: both;
  margin: 40px auto;
  font-size: .8em;

  aside {
    height: 100%;
    @include span-columns(3);
  }

  .items {
    @include span-columns(9);
    height: 100%;
  }
}

ul {
  margin: 0 auto;
  padding: 0px;
}

li {
  height: 220px;
  margin-bottom: 20px;
  background-color: white;
  @include span-columns(3 of 9);
  @include omega(3n);
  list-style: none;
  border-radius: 4px;
  @include boxBorder;
}

.itemBox {
  @include itemBoxStyle;

  .itemInfo {
    height: 50px;

    padding: 7px;
  }
}

.mainHead {
  font-size: .9em;
  margin-bottom: 15px;
  overflow: hidden;
  color: $darkgray;
}

.showResults {
  @include span-columns(3);
  font-weight: bold;
}

.mainInfo {
  @include span-columns(9);

  .resultsInfo {
    float: left;

    a {
      color: $teal;
    }

  }

  #searchTerm {
    font-weight: bold;
  }

  .sortBy {
    float: right;

    span {
      color: $teal;
    }

  }

}

/* --------------- START SIDEBAR --------------- */

.categories {
  background-color: white;
  padding: 10px 15px;
  @include boxBorder;


  p {
    color: $darkgray;
  }

  .indent {
    margin-left: 10px;
    color: $teal;
  }
}

.refineSearchHead {
  @include refineHeaders;
  margin-top: 20px;
  margin-bottom: 10px;
}

.refineSearch {
  background-color: white;
  padding: 10px 15px;
  @include boxBorder;

  a {
    width: 100%;
    color: $teal;
  }

  .refineBox {
    border-bottom: 1px solid $gray;
    padding: 5px;

    span {
      @include refineHeaders;
    }

    .red {
      @include colorFilter;
      background-color: #F40B32;
    }

    .orange {
      @include colorFilter;
      background-color: #FF7F00;
    }

    .yellow {
      @include colorFilter;
      background-color: #F3CC0C;
    }

    .green {
      @include colorFilter;
      background-color: #0AC20A;
    }

    .blue {
      @include colorFilter;
      background-color: #0CCCF3;
    }

    .purple {
      @include colorFilter;
      background-color: #A60CF3;
    }

    .black {
      @include colorFilter;
      background-color: #000000;
    }

    .white {
      @include colorFilter;
      background-color: white;
    }

  }

}




