@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* --------------- SASS DECLARATIONS --------------- */

$teal: #34A8C4;
$orange: #F2581D;
$lightteal: #3CA8C2;
$green: #7ABE4A;
$gray: #B2B2B2;
$darkgray: #555555;
$bordergray: #E5E5E5;

@mixin btnBorder() {
  border: 1px solid $teal;
  border-radius: 4px;
  color: $teal;
  padding: 8px;
}

@mixin boxBorder() {
  border: 1px solid $bordergray;
}

@mixin rightHeaderItems() {
  display: inline-block;
  float: left;
  height: 100%;
  margin-top: 15px;
}

@mixin itemBoxStyle() {
  .itemTitle {
    color: $darkgray;
    padding-bottom: 8px;
  }

  .itemMaker {
    float: left;
    display: inline-block;

    a {
      color: $gray;
    }

  }

  .itemPrice {
    color: $green;
    float: right;
  }

  .itemImage {
    height: 170px;
    overflow: hidden;
    position: relative;


  &::before {
    content: '';
    background-image: url(../images/heart.png);
    background-size: cover;
    background-color: white;
    border: .8px solid $gray;
    border-radius: 4px;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 4px;
    right: 35px;
    visibility: hidden;
  }

  &::after {
    content: '';
    background-image: url(../images/hamburger.png);
    background-size: cover;
    background-color: white;
    border: .8px solid $gray;
    border-radius: 4px;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 4px;
    right: 4px;
    visibility: hidden;
  }

  &:hover:before {
    visibility: visible;
  }

  &:hover:after {
    visibility: visible;
  }

    .icons {
      float: right;
      margin: 5px;

      button {
        background-color: white;
        @include boxBorder;
        height: 30px;
        padding: 5px;
      }

      img {
        height: 20px;
      }
    }
  }
}

@mixin colorFilter() {
  display: inline-block;
  height: 20px;
  width: 20px;
  @include boxBorder;
}

@mixin refineHeaders() {
  font-weight: bold;
  padding-bottom: 8px;
  color: $darkgray;
}

@mixin hoverBorder() {
  border: 1px solid $gray;
}

/* --------------- FULL SITE --------------- */


body {
  background-color: #F5F5F1;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: $teal;
}

.globalContainer {
  font-family: 'Roboto', sans-serif;
}

* {
  border-sizing: border-box;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}


/* --------------- FULL HEADER --------------- */


header {
  width: 100%;
  background-color: white;
  box-shadow: 0px .1px 2px $darkgray;
  padding: 10px;
  font-size: .9em;

  .headerContent {
    @include outer-container
  }


  /* --------------- START LEFT HEADER --------------- */


  .leftHeader {
    float: left;

    .logo {
      display: inline-block;
      color: $orange;
      font-size: 45px;
      font-family: 'Gentium Book Basic', serif;
      margin-right: 10px;
    }

    .search{
      display: inline-block;
    }

    .searchBar {
      display: inline-block;
      float: right;
      margin: auto;
      padding: 12px;

      input {
        float: left;
        padding: 8px;
        margin: 0;
        height: 100%;
        border: 1px solid #CFCBC8;
        box-shadow: inset 0 0 1px #CFCBC8;
        border-radius: 4px 0px 0px 4px;
      }

      .searchInput:hover {
        border: 1px solid $gray;
      }

      .searchBtn {
        background-color: $teal;
        @include btnBorder;
        color: white;
        border-radius: 0px 4px 4px 0px;
        padding-left: 20px;
        padding-right: 20px;

      }

      .browseBtn {
        @include btnBorder;
        background-color: white;
        color: $darkgray;
        border: 1px solid $bordergray;
        float: right;
        margin-left: 20px;
        padding: 8px;
      }

      .browseBtn:hover {
        @include hoverBorder;
      }

    }
  }


/* --------------- START RIGHT HEADER --------------- */


  .rightHeader {
    float: right;
    color: $teal;
    display: inline-block;

    a {
      color: $teal;
    }

    .register {
      @include rightHeaderItems;
      padding: 24px 10px 0px 0px;
      margin-top: 0;
    }

    .signIn {
      @include rightHeaderItems;
      @include btnBorder;
      margin-right: 15px;

      a:hover {
        text-decoration: none;
      }

    }

    .signIn:hover {
      background-color: #F0FBFD;
    }

    .cart {
      @include rightHeaderItems;
      color: #7E7D7D;
      padding-left: 15px;
      margin-top: 13px;
      border-left: 1px solid $gray;
      font-size: .8em;

      &:hover {
        color: $darkgray;
      }

      img {
        height: 22px;
        display: block;
        margin-bottom: 3px;
      }

    }

  }

}


/* --------------- START MAIN --------------- */


.main {
  @include outer-container(980px);
  clear: both;
  margin: 40px auto;
  font-size: .8em;

  aside {
    height: 100%;
    @include span-columns(3);
  }

  .items {
    @include span-columns(9);
    height: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;

}

.itemBox {
  height: 220px;
  background-color: white;
  @include span-columns(3 of 9);
  @include omega(3n);
  list-style: none;
  border-radius: 4px;
  @include boxBorder;

  img {
    height: 180px;
  }

}

.itemBox {
  @include itemBoxStyle;
  margin-bottom: 25px;

  .itemInfo {
    height: 50px;
    padding: 7px;
  }

  .itemTitle {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mainHead {
  font-size: 1em;
  margin-bottom: 15px;
  overflow: hidden;
  color: $darkgray;
}

.showResults {
  @include span-columns(3);
  font-weight: bold;
}

.mainInfo {
  @include span-columns(9);

  .resultsInfo {
    float: left;

    a {
      color: $teal;
    }

  }

  #searchTerm {
    font-weight: bold;
  }

  .sortBy {
    float: right;

    span {
      color: $teal;
    }

  }

}

/* --------------- START SIDEBAR --------------- */

.categories {
  background-color: white;
  padding: 10px 15px;
  @include boxBorder;


  .allCat {
    color: $darkgray;
    font-weight: bold;
  }

  .indent {
    margin-left: 10px;
    color: $teal;
    list-style: none;
  }
}

.refineSearchHead {
  @include refineHeaders;
  margin-top: 20px;
  margin-bottom: 10px;
}

.refineSearch {
  background-color: white;
  padding: 10px 15px;
  @include boxBorder;

.typeOptions {

  label {
    position: relative;
    margin-left: 0;
  }

  input {
    position: absolute;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }

  a {
    margin-left: 32px;
    margin-top: 8px;
  }

}

.shopLocationRadio {

  label {
    position: relative;
    margin-left: 0;
  }

  input {
    position: absolute;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }

  a {
    margin-left: 32px;
    margin-top: 8px;
  }

}

  a {
    color: $teal;
  }

  .refineBox {
    border-bottom: 1px solid $bordergray;
    padding: 15px 1px;

    input {
      height: 30px;
      width: 60px;
      margin-right: 8px;
    }

    .arrowBox {
      height: 30px;
      width: 30px;
      @include boxBorder;
      display: inline-block;
      float: right;

      .arrow-right {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $darkgray;
        margin-left: 11px;
        margin-top: 7px;
      }

      .arrow-right:hover {
        background-color: #F5F5F1;
      }

    }

    span {
      @include refineHeaders;
      display: block;
    }

    .red {
      @include colorFilter;
      background-color: #F40B32;
    }

    .orange {
      @include colorFilter;
      background-color: #FF7F00;
    }

    .yellow {
      @include colorFilter;
      background-color: #F3CC0C;
    }

    .green {
      @include colorFilter;
      background-color: #0AC20A;
    }

    .blue {
      @include colorFilter;
      background-color: #0CCCF3;
    }

    .purple {
      @include colorFilter;
      background-color: #A60CF3;
    }

    .black {
      @include colorFilter;
      background-color: #000000;
    }

    .white {
      @include colorFilter;
      background-color: white;
    }

  }

  select {
    width: 100%;
    height: 40px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    @include boxBorder;
    background-color: white;
    border-radius: 4px;
  }

  select:hover {
    @include hoverBorder;
  }

}

.priceInputs {
  input:hover {
    @include hoverBorder;
  }
}

.arrowBox:hover {
  @include hoverBorder;
}



